<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <td><b>일자</b></td>
        <td><b>항목</b></td>
        <td><b>사용기한</b></td>
        <td><b>사용여부</b></td>
        <td><b>상품권 보기</b></td>
      </tr>
    </thead>
    <% if (data_list.length) {%>
    <tbody>
      <% data_list.forEach(item => { %>
      <tr>
        <td><%= item.name %></td>
        <td id="barcode"><%= item.address %></td>
      </tr>
      <% }) %>
    </tbody>
    <% } %>
    <tbody></tbody>
  </table>
</div>

<script>
  $("#barcode").on("click", function() {
      alert("바코드 받고싶어요 ")
    });
</script>
