<div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <td><b>일자</b></td>
          <td><b>항목</b></td>
          <td><b>금액</b></td>
          <td><b>비고</b></td>
        </tr>
      </thead>
      <% if (data_list.length) {%>
      <tbody>
        <% data_list.forEach(item => { %>
        <tr>
          <td><%= item.acntdate %></td>
          <td><%= item.acntitem %></td>
        </tr>
        <% }) %>
      </tbody>
      <% } %>
      <tbody></tbody>
    </table>
  </div>
  